/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap'); */
 body::-webkit-scrollbar 
{
 width: 8px;
}
body::-webkit-scrollbar-track 
{
 border-radius:10px;
}
body::-webkit-scrollbar-thumb
{
 background-color: #991c9985;
 border-radius:10px;
}
:root {
  --darkblue: rgb(0, 183, 255);
  --lightblue: rgb(215, 233, 245);
  --darkgray:rgb(99,115,129);
  --lightgray:rgb(244,246,248);
  --darkyellow:rgb(196,209,64);
}
.navbar{
  background-color: white !important;
  box-shadow: none !important;
}
.admin {
  margin-left: 195px !important;
  width: 90% !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900 !important;
}
.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.MuiListItem-button.css-bshv44-MuiButtonBase-root-MuiListItem-root.active{
  background-color: var(--lightblue) !important;
  color: var(--darkblue);
  border-right: 4px solid var(--darkblue);
}
.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.MuiListItem-button.css-bshv44-MuiButtonBase-root-MuiListItem-root{
  color: var(--darkgray);
}
.MuiListItemIcon-root.active.css-cveggr-MuiListItemIcon-root{
  color:var(--darkblue) ;
}
.MuiListItemIcon-root.css-cveggr-MuiListItemIcon-root{
  color:var(--darkgray) ;
}
.user-card{
  color: var(--darkgray) !important;
  background-color: var(--lightgray) !important;
  border-radius: 25px !important;
  box-shadow: none !important;
}
.user-card img{
  border-radius: 50% !important;
}
